<!DOCTYPE html>
<!-- src/main/resources/templates/index.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prati natjecanja</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        button, h1, img, h2, p {
            margin: 10px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>


</head>
<body>
    <div class="header m-2">
        <h1>Prati natjecanja</h1>
        <div sec:authorize="!isAuthenticated()">
            <button class="btn btn-outline-primary"><a th:href="@{/oauth2/authorization/auth0}">Log In</a></button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Novo natjecanje
                </button>
            </div>

            <div class="col-6 ml-auto text-right">
                <div sec:authorize="isAuthenticated()">
                    <p>Podaci o profilu</p>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <img th:src="${profile.get('picture')}" th:attr="alt=${profile.get('name')}"/>
                    <h2 th:text="${profile.get('name')}"></h2>
                    <p th:text="${profile.get('email')}"></p>
                    <button class="btn btn-outline-primary m-2"><a th:href="@{/logout}">Log Out</a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kreiraj novo natjecanje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="naziv" class="form-label">Naziv natjecanja</label>
                            <input type="text" class="form-control" id="naziv" style="font-size: 1.1em; line-height: 1;">
                        </div>
                        <div class="mb-3">
                            <label for="natjecatelji" class="form-label">Popis natjecatelja</label>
                            <textarea class="form-control" id="natjecatelji" rows="3" style="font-size: 1.1em; line-height: 1;"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="bodovanje" class="form-label">Sustav bodovanja</label>
                            <input type="text" class="form-control" id="bodovanje" style="font-size: 1.1em; line-height: 1;">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                    <button type="button" class="btn btn-primary">Kreiraj</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>